.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.fixed-card {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}